<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Hero Details</title>
</head>

<body>
    <h1>Hero Details</h1>
    <ul>
        <li>
            Name: {{single_hero.name}}
        </li>
        <li>
            Alter Ego: {{single_hero.alter_ego}}
        </li>
        <li>
            Primary Ability: {{single_hero.primary_ability}}
        </li>
        <li>
            Secondary Ability: {{single_hero.secondary_ability}}
        </li>
        <li>
            Catchphrase: {{single_hero.catch_phrase}}
        </li>
    </ul>
    <a href="{% url 'superheroes:back_to_index' %}">Back to Home</a>
</body>

</html>